@model Plant_Life.Models.Plant

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Plant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="PlantName" class="control-label"></label>
                <input asp-for="PlantName" class="form-control" />
                <span asp-validation-for="PlantName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sunlight" class="control-label"></label>
                <input asp-for="Sunlight" class="form-control" />
                <span asp-validation-for="Sunlight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Temperature" class="control-label"></label>
                <input asp-for="Temperature" class="form-control" />
                <span asp-validation-for="Temperature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WaterNeeds" class="control-label"></label>
                <input asp-for="WaterNeeds" class="form-control" />
                <span asp-validation-for="WaterNeeds" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <span asp-validation-for="Description" class="text-danger"></span>
                <select id="DescriptionId" asp-for="Description">
                    <option value="Times A Week">Times a week</option>
                    <option value="Times A Month">Times a month</option>
                </select>
            </div>*@
            <div class="form-group">
                <label asp-for="Issues" class="control-label"></label>
                <input asp-for="Issues" class="form-control" />
                <span asp-validation-for="Issues" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <input name="file" type="file" class="form-control" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"class="btn btn-success">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
